:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  background-color: rgb(28, 28, 29);
  padding-top: 50px;
}

.bg-body-tertiary {
  box-shadow: 0px 0px 20px grey;

}

.asd {
  background-color: rgb(236, 29, 37, 90%) !important;
  height: 100% !important;
}

.nav-logo {
  height: 50px;
  margin-right: 2%;
}

.card-base {
  width: 250px !important;
  height: 450px !important;
  color: white !important;
  border: 1px solid grey !important;
  font-family: "Libre Baskerville", serif !important;
  font-size: 0.8rem !important;
  margin: 3%;
  background-color: rgb(37, 39, 40) !important;
}

.card-base:hover {
  width: 250px;
  box-shadow: 0px 0px 20px lightgrey !important;
  transition: 0.3s !important;
  cursor: default;
  
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-image {
  height: 60%;
  object-fit: contain !important;
  scale: 0.8;
}

.card-body {
  display: flex !important;
  justify-content: space-around !important;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1rem;
  border-top: 1px solid lightgrey !important;
  padding-top: 1px !important;
}

.face-logo {
  height: 50px !important;
  width: 100px !important;
  object-fit: contain !important;
}

.face-img {
  height: 50px !important;
  width: 100px !important;
  object-fit: contain !important;
}